<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dnf伤害加成计算</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <style>
    ul li {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    ul li span {
      min-width: 120px;
      text-align: right;
      margin-right: 8px;
    }
    input {
      height: 32px;
      padding: 0 10px;
      margin-right: 12px;
    }
    button {
      height: 32px;
      padding: 0 10px;
    }
  </style>
  <body>
    <div id="app">
      <h2>基础属性</h2>
      <ul>
        <li v-for="(item,key,index) in baseValue" :key="key">
          <span>{{item.name}}:</span>
          <input type="text" v-model="item.value" />
        </li>
      </ul>
      <h2>面板属性</h2>
      <ul>
        <li>
          <span>力量/智力:</span>
          <input readonly type="text" v-model="power" />
        </li>
        <li>
          <span>物理/魔法攻击力:</span>
          <input readonly type="text" v-model="damage" />
        </li>
      </ul>
      <h2>结算</h2>
      <ul>
        <li>
          <span>最终伤害:</span>
          <input readonly type="text" v-model="harm" />
          <button @click="records">记录最终伤害</button>
        </li>
        <li>
          <span>记录的最终伤害:</span>
          <input readonly type="text" v-model="upHarm" />
        </li>
        <li>
          <span>增幅比例:</span>
          <input readonly type="text" v-model="scale" />%
        </li>
      </ul>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        baseValue: {
          a: { value: 1000, name: "基础攻击力", computed: "*" }, //基础攻击力
          b: { value: 2500, name: "基础力/智" }, //力智
          c: { value: 40, name: "伤害增加(黄字)" }, //伤害增加(黄字)
          d: { value: 30, name: "伤害附加(白字)" }, //伤害附加(白字)
          e: { value: 20, name: "力/智百分比" }, //力/智百分比
          f: { value: 100, name: "属强" }, //属强
          g: { value: 20, name: "攻击力百分比" }, //攻击力百分比
        },
        upHarm: "--",
      },
      computed: {
        power() {
          if (isNaN(this.baseValue.b.value * (1 + this.baseValue.e.value * 0.01))) {
            return "--";
          }
          return this.baseValue.b.value * (1 + this.baseValue.e.value * 0.01);
        },
        damage() {
          if (isNaN(this.baseValue.a.value * (1 + this.power * 0.004) * (1 + this.baseValue.g.value * 0.01))) {
            return "--";
          }
          return this.baseValue.a.value * (1 + this.power * 0.004) * (1 + this.baseValue.g.value * 0.01);
        },
        harm() {
          if (
            isNaN(
              this.damage *
                (1 + this.baseValue.c.value * 0.01) *
                (1 + this.baseValue.d.value * 0.01) *
                (1 + this.baseValue.f.value / 220)
            )
          ) {
            return "--";
          }
          return (
            this.damage *
            (1 + this.baseValue.c.value * 0.01) *
            (1 + this.baseValue.d.value * 0.01) *
            (1 + this.baseValue.f.value / 220)
          );
        },
        scale() {
          if (isNaN(((this.harm - this.upHarm) / this.upHarm) * 100)) {
            return "--";
          }
          return ((this.harm - this.upHarm) / this.upHarm) * 100;
        },
      },
      methods: {
        records() {
          this.upHarm = this.harm;
        },
      },
    });
  </script>
</html>
